h2.section-header {
  color: #45ad96
}

/* Creates a solid orange rounder border */
#class-table {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: hsla(39, 100%, 50%, 0.5);  
}

a:hover {
  text-decoration: none
}

a:active {
  background-color: red
}

ul, ol {
  margin:auto;
  width: 500px;
  height:50px;
}

input[type="submit"] {
  min-width: 10%;
  font-size:150%;
  background-color: rgb(70, 211, 70);
}

table th {
  font-size: 1.5rem;
}

header > h1 {
  font-size: 5vw;
  color: hsl(39, 100%, 50%);
}

h3 {
  color: rgba(174, 0, 255, 0.8)
} 

h1 + audio {
  margin: 0 0 10px 0;
  position: static;
}

h2 ~ table {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  padding: 5px 5px 5px 5px;
}

svg {
  display:none;
}

.submit-btn {
  display: block;
  margin: auto;
}

figure img {
  max-width: 20%;
}

canvas {
  position: relative;
  left:15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.row {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (min-width: 800px) {
  body {
    background-color: rgb(255, 238, 223);
  }
}