.section-header {
  color: #45ad96
}

#class-table {
  border-style: solid;
  border-color: hsl(39, 100%, 50%);  
}

h1 {
  text-decoration: underline
}

a:hover {
  text-decoration: none
}

a:active {
  background-color: red
}